<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grumpyshoe.pushmanager" >

    <application>
        <service
            android:name="com.grumpyshoe.module.pushmanager.impl.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>


        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id"/>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/baseline_notifications_black" />

    </application>


</manifest>